.quiz-panel {
    background-color: #e9d62f;
    width: 40vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    padding: 100px 40px;
    justify-items: center;
    align-items: center;
}

.quiz-panel img {
    width: 60%;
    height: auto;
}

.quiz-panel button {
    background-color: #1b3d7c;
    color: #fff;
    font-weight: 600;
}

.quiz-panel button:hover {
    background-color: #326bd6;
}

.start-quiz-btn {
    font-weight: 600;
    padding: 15px 50px;
    color: white;
    background-color: #1b3d7c;
}

.start-quiz-btn:hover {
    color: #fff;
    background-color: #326bd6;
    text-decoration: none;
}