.countdown-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 130px;
    justify-items: center;
    align-items: center;
}

.countdown-screen h1 {
    font-size: 3em;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.countdown-screen h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.countdown-screen h2 span {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 5px 15px;
    border-radius: 5px;
}

.counter {
    background-color: black;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.counter h1 {
    color: white;
    font-size: 4em;
    font-weight: 800;
    text-align: center;
    margin: auto;
}